<div align = "center">
<h1 class = 'welcome'>Welcome to the Blog from Yanok</h1>


<h2>Everything we have...</h1>
</div>
<%= render 'shared/article', obj: @articles %>

<div align="center">
 <%= will_paginate %>
</div>



<div align = "center">
<%= link_to 'Back', articles_path,
class: "btn btn-primary btn-large" %>
</div>
