<h1 align="center">All Users</h1>
<div align="center">

 <% @users.each do |user| %>
  <ul class="listing">
   <div class="row">
    <div class="well col-md-4 col-md-offset-4">
     <li><%= link_to gravatar_for(user), user_path(user) %></li>
     <li class="article-title"><%= link_to user.username, user_path(user) %></li>
     <li><small>
<%= pluralize(user.articles.count, "article") if user.articles %>
</small></li>

<% if logged_in? %>
<!--
<%= link_to 'Edit profile', edit_path(1),
class: "btn btn-primary btn-large" %>
-->
<%end%>
    </div>
   </div>
  </ul>
 <% end %>


<%= will_paginate %>
</div>
