<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div class="row">
 <div class="col-md-4 col-md-offset-4 center">
<%= gravatar_for @user, size: 200 %>
 </div>
</div>

<h4 align="center">
<%= @user.username %>'s articles</h4>

<%= render 'shared/article', obj: @user.articles %>



<% if logged_in?%>
  <div align="center">
     <%= link_to "Edit profile",{:controller => "users", :action => "edit" },class: 'btn btn-primary btn-large'%>
</div>
<%end%>




<div align="center">
 <%= will_paginate @user_articles %>
</div>
