<h1>Showing selected article</h1>
<p>
 Title: <%= @article.title %>
</p>
<p>
 Description: <%= @article.description %>
</p>



<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div class="row">
 <div class="col-md-4 col-md-offset-5 center">
  <%= gravatar_for @user, size: 150 %>
 </div>
</div><h4 align="center"><%= @user.username %>'s articles</h4><%= render 'shared/article', obj: @user.articles %>
