// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-default-bg: yellow;@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
 float: left;
 font-size: 1.7em;
color: darkgoldenrod;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}


body{
  background-color:#FFD700;
}

.listing {
 list-style: none;
 padding-left: 0;
}


#logo:hover {
 color: #fff;
 text-decoration: none;
}

.article-actions {
 border-top: 1px solid #eaeaea;
 padding-top: 5px;
}

a{
color: brown;
font-size: large;
}

#nav{
font-size: large;
color: brown;
}

li{
color:brown;
}


.article-title {

 font-weight: 800;
 font-size: 2em;
}

.article-body {
background-color: gold ;
color: #MidnightBlue;
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}

.article-meta-details {
 border-top: 1px solid #eaeaea;
 margin-top: 15px;
}

.description {
 margin-top: 0;
}

.listing {
 list-style: none;
 padding-left: 0;
}

.article-meta-details {
 border-top: 1px solid #eaeaea;
 margin-top: 15px;
}

.welcome{
	font-size: 60px;
color: navy;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-weight: inherit;
}

.well{
    background-color: ivory;
    color: brown;}


